﻿

<MudDialog>
    <DialogContent>
        <MudForm Model="@article" @ref="@form" ValidationDelay="0">
            <MudCardContent Class="pa-0">
                <MudTextField Class="d-none" @bind-Value="article.Id" For="@(() => article.Id)" Immediate="true" Label="Id" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                <MudTextField @bind-Value="article.Name" Label="Titre" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                        <ButtonTemplate>
                            <MudFab HtmlTag="label"
                                    Color="Color.Secondary"
                                    Icon="@Icons.Material.Filled.Image"
                                    Label="Load picture"
                                    for="@(context)" />
                        </ButtonTemplate>
                    </MudFileUpload>
            </MudCardContent>

        </MudForm>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Annuler</MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Sauvegarder</MudButton>


    </DialogActions>
</MudDialog>




@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    MudForm form;
    [Parameter]
    public Article article { get; set; }

    void Cancel() => MudDialog.Cancel();

    public void Submit()
    {
        //notif.SeenUsers = optionsUsers.ToList();
        MudDialog.Close(DialogResult.Ok(true));
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //article = new Article();
    }
    private long maxFileSize = 1024 * 15;
    IList<IBrowserFile> files = new List<IBrowserFile>();

    private async void UploadFiles(IBrowserFile file)
    {
        try
        {
            var buffer = new byte[file.Size];
            await file.OpenReadStream(500 * 1024).ReadAsync(buffer);
            article.lienImage = $"data:image/{file.Name.Substring(file.Name.IndexOf("."), file.Name.Length - file.Name.IndexOf("."))};base64,{Convert.ToBase64String(buffer)}";
            //var dir = Environment.ContentRootPath;

            //if (!Directory.Exists(dir + "/Images"))
            //{
            //    Directory.CreateDirectory(dir + "/Images");
            //}
            //files.Add(file);

            //var trustedFileNameForFileStorage = Path.GetRandomFileName();
            //var path = dir + "/Images/" + trustedFileNameForFileStorage + file.Name.Substring(file.Name.IndexOf("."), file.Name.Length - file.Name.IndexOf("."));
            
            //await using FileStream fs = new(path, FileMode.Create);
            //await file.OpenReadStream(500 * 1024).CopyToAsync(fs);
            
        }
        catch (Exception ex)
        {
            
        }
    }
    
}
