﻿

<MudDialog>
    <DialogContent>
        <MudForm Model="@Intervention" @ref="@form" ValidationDelay="0">
            <MudCardContent Class="pa-0">
                <MudTextField Class="d-none" @bind-Value="Intervention.ReclamationId" For="@(() => Intervention.ReclamationId)" Immediate="true" Label="Id" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                <MudTextField Class="d-none" @bind-Value="Intervention.Id" For="@(() => Intervention.Id)" Immediate="true" Label="Id" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                <MudTextField @bind-Value="Intervention.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>
                <MudSwitch Label="Garantie" @bind-Checked="@Intervention.garantie" Color="Color.Primary" />

            </MudCardContent>

        </MudForm>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Annuler</MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Sauvegarder</MudButton>


    </DialogActions>
</MudDialog>




@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    MudForm form;
    [Parameter]
    public Intervention Intervention { get; set; }

    void Cancel() => MudDialog.Cancel();

    public void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
