﻿
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    @*<MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Servers</MudNavLink>*@
    <MudNavGroup Title="Traiter" Expanded="true">
        <MudNavLink Href="/reclamations" Match="NavLinkMatch.Prefix">Reclamations</MudNavLink>
        <MudNavLink Href="/interventions" Match="NavLinkMatch.Prefix">Intervenstions</MudNavLink>
        <MudNavLink Href="/factures" Match="NavLinkMatch.Prefix">Factures</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Parametres" Expanded="false">
        <MudNavLink Href="/articles" Match="NavLinkMatch.Prefix">Articles</MudNavLink>
    </MudNavGroup>
</MudNavMenu>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
