﻿@inject IFacturesService api

<MudDialog>
    <DialogContent>
        @if (!string.IsNullOrEmpty(pdfContent))
            {
            <embed type="application/pdf" src="data:application/pdf;base64,@pdfContent" style="width:100%;height:500px" />
        }
            else
            {
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                </MudPaper>
            }

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Annuler</MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Sauvegarder</MudButton>


    </DialogActions>
</MudDialog>




@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public int idfacture { get; set; }
    public string pdfContent { get; set; }
    void Cancel() => MudDialog.Cancel();


    public void Submit()
    {
        //notif.SeenUsers = optionsUsers.ToList();
        MudDialog.Close(DialogResult.Ok(true));
    }
    public bool Loading = false;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Loading = true;
        var byteFacture=await api.GetPdf(idfacture);
        if (!string.IsNullOrEmpty(byteFacture))
        {
            pdfContent = byteFacture.Replace("\"","");
        }
    }



}
