﻿@page "/"
@using System.Text;
@inject IFacturesService apiF
@inject IReclamationsService apiR
@inject IInterventionsService apiI
@inject IArticlesService apiA

<PageTitle>Index</PageTitle>
<MudContainer Class="mt-8 px-2" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">R</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Réclamation</MudText>
                        <MudText Typo="Typo.body2">@countReclmation</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Intervention</MudText>
                        <MudText Typo="Typo.body2">@countIntervention</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">F</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Factures</MudText>
                        <MudText Typo="Typo.body2">@countFacture</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">A</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Articles</MudText>
                        <MudText Typo="Typo.body2">@countArticle</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
                        <MudText Typo="Typo.body1">10 Dernières Réclmations</MudText>

                        <MudSimpleTable FixedHeader="true" Hover="true" Dense="true" Style="height:300px;overflow-x: auto;">
                            <thead>
                                <tr>
                                    @foreach (var h in headingsIntervenstion)
                                    {
                                        <th>@h</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in rowsIntervenstion)
                                {
                                    <tr>
                                        @foreach (var x in row.Split(","))
                                        {
                                            <td>@x</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="index" InputLabels="@labels" Width="300px" Height="300px" />
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    string[] headingsIntervenstion = { "ID", "Name", "Email", "Intervestion" };
    string[] rowsIntervenstion = { };
    private int countReclmation = 0;
    private int countIntervention = 0;
    private int countFacture = 0;
    private int countArticle = 0;
    private int index = -1;
    int dataSize = 2;
    double[] data = {  };
    string[] labels = { "Garantie", "Facture" };
    Random random = new Random();
    protected override async Task OnInitializedAsync()
    {
        countReclmation = await apiR.GetCount();
        countFacture = await apiF.GetCount();
        countIntervention = await apiI.GetCount();
        countArticle = await apiA.GetCount();

        labels[0] = "Garantie : " + (await apiF.GetAll()).Where(a => a.Intervention.garantie == true).Sum(a=>a.LigneFactures.Sum(b=>b.Prix * b.Qte)).ToString("n3");
        labels[1] = "Facture : " + (await apiF.GetAll()).Where(a => a.Intervention.garantie == false).Sum(a => a.LigneFactures.Sum(b => b.Prix * b.Qte)).ToString("n3");
        var new_data = new double[dataSize];
        new_data[0] = (await apiF.GetAll()).Where(a => a.Intervention.garantie==true).Count();
        new_data[1] = (await apiF.GetAll()).Where(a => a.Intervention.garantie==false).Count();
        data = new_data;
        StateHasChanged();
        var reclamationdata = (await apiR.GetAll()).OrderByDescending(a=>a.Id).Take(10).ToList();
        var intervenstiondata = await apiI.GetAll();
        rowsIntervenstion = new string[reclamationdata.Count()];
        for(var i=0;i<reclamationdata.Count();i++){
            rowsIntervenstion[i] = @"" + reclamationdata[i]?.Id + "," + reclamationdata[i]?.Name + "," + reclamationdata[i]?.Email + "," + (intervenstiondata.Any(a => a.ReclamationId == reclamationdata[i]?.Id) ? "Display" : "Pas Encore");
        }
    }

}